<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>KatalogA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="container nav">
            <strong>KatalogA</strong>
            <div>
                <a href="/">Katalog</a>
                <a href="/agent/login">Agent</a>
                <a href="/admin/login">Admin</a>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}
</body>
</html>
